:root {
    --background-gray: #e0dddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}



.container {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

.menu-bar {
    display: flex;
    align-items: left;
    
}

.menu-bar-item {
    border: solid rgb(146, 146, 146) 1px;
    padding: 2px 20px;
}

.menu-bar-item a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
    
}

.fa-solid {
    cursor: pointer;
}

.menu-add-item {
    padding: 2px 10px;
    background-color: var(--background-gray);
}

.menu-info-options {
    margin-top: 2px;
}

.header-title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: var(--background-gray);
}

.header-title-bar h1 {
    font-size: 24px;
    font-weight: 550;
}

.header-yellow-bar{
        height: 15px;
        background: repeating-linear-gradient(
            130deg,
            #e9c769,
            #e9c769 35px,
            #ffe798 35px,
            #ffe798 70px
        );
}

.header-options-bar {
    display: flex;
    gap: 10px;
    background-color: var(--background-gray);
    padding-top: 4px;
    padding-bottom: 4px;
}

.header-options-bar-item {
    border: solid black 1px;
    width: fit-content;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
}

.header-options-bar-item a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

aside {
    width: 20%;
    min-width: fit-content;
    border-right: solid var(--background-gray) 3px;
}

.aside-title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid rgb(14, 81, 226) 2px;
}

.aside-options-bar {
    display: flex;
    gap: 10px;
    padding: 4px;
    background-color: var(--background-gray);

}

.aside-options-bar-item {
    border: solid black 1px;
    width: fit-content;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
}

.aside-options-bar-item a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}